@model DotNetAssign2.Models.Users

@{
    ViewData["Title"] = "Check In";
}

<h1>Check In</h1>
@*
<h4>Users</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            @*             <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="CheckedIn" /> @Html.DisplayNameFor(model => model.CheckedIn)
            </label>
            </div> *@
            @*             <div class="form-group">
            <label asp-for="CheckInTime" class="control-label"></label>
            <input asp-for="CheckInTime" class="form-control" />
            <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CheckOutTime" class="control-label"></label>
            <input asp-for="CheckOutTime" class="form-control" />
            <span asp-validation-for="CheckOutTime" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Check In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}