@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the .NET Check In System</h1>
</div>
<div class="text-center" style="padding-top: 20px">
    <a asp-area="" asp-controller="CheckIn" asp-action="Index" type="button" class="btn btn-success btn-lg">Check In</a>
</div>
<div class="text-center" style="padding-top: 20px">
    <a asp-area="" asp-controller="CheckOut" asp-action="Index" type="button" class="btn btn-danger btn-lg">Check Out</a>
</div>
